$font-stack: Helvetica, sans-serif;

$main-bg-color: #131313;
$main-text-color: #d0d0d0;

$callout-bg-color: #313131;
$callout-border-color: #131313;

$title-bar-bg-color: #0c0c0c;

$lime-primary-color: #aaf300;
$lime-primary-dimmed-color: #77c000;

$red-primary-color: #ff0000;
$red-primary-dimmed-color: #aa0000;

body {
  background: $main-bg-color;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.callout {
  background-color: $callout-bg-color;
  color: $main-text-color;
  border: 3px solid $callout-border-color;
  border-radius: 16px;
}

.card {
  margin: 0 0 1rem 0;
  border: 3px solid $callout-border-color;
  border-radius: 16px;
}

.off-canvas {
  background-color: $callout-bg-color;
  color: $main-text-color;
}

.off-canvas.position-right {
  border-radius: 16px 0px 0px 16px;
}

.title-bar {
  background-color: $title-bar-bg-color;
}


//
// THEME: LIME
//

body.tm-lime .title-bar,
body.tm-lime h5,
body.tm-lime a,
body.tm-lime a:visited {
  color: $lime-primary-color;
}

body.tm-lime a:hover,
body.tm-lime a:focus {
  color: $lime-primary-dimmed-color;
}

body.tm-lime img.header {
  filter: invert(0.13) sepia(0.13) saturate(33) hue-rotate(23deg);
}

//
// THEME: RED
//

body.tm-red .title-bar,
body.tm-red h5,
body.tm-red a,
body.tm-red a:visited {
  color: $red-primary-color;
}

body.tm-red a:hover,
body.tm-red a:focus {
  color: $red-primary-dimmed-color;
}

body.tm-red img.header {
  filter: invert(0.89) sepia(0.69) saturate(69) hue-rotate(355deg);
}
